<mat-sidenav-container class="container">
  <mat-sidenav #sidenav [mode]="sideNavMode" [opened]="isSidenavOpened">
    <div class="sidenav-header">
      <mat-icon class="sidenav-title-icon">menu_book</mat-icon>
      <span class="sidenav-title">Student Portal</span>
    </div>

    <mat-divider></mat-divider>
    <mat-nav-list>
      <mat-list-item
        routerLink="/form"
        (keydown.enter)="this.isLargeScreen ? false : sidenav.close()"
        (keydown.space)="this.isLargeScreen ? false : sidenav.close()"
        tabindex="0"
        (click)="this.isLargeScreen ? false : sidenav.close()"
      >
        <mat-icon class="nav-icon">person_add</mat-icon>
        <span class="nav-text">Add Student</span>
      </mat-list-item>
      <mat-list-item
        (keydown.enter)="this.isLargeScreen ? false : sidenav.close()"
        (keydown.space)="this.isLargeScreen ? false : sidenav.close()"
        tabindex="0"
        routerLink="/table"
        (click)="this.isLargeScreen ? false : sidenav.close()"
      >
        <mat-icon class="nav-icon">list</mat-icon>
        <span class="nav-text">Student List</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Student Management</span>
    </mat-toolbar>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
